<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-title">
      <a routerLink="/inicio"><img src="/perrogif.gif" alt="Logo" /></a>
    </div>
    <div class="navbar-right">
      <a routerLink="/inicio" class="login-link"><p>Inicio</p></a>
      <a routerLink="/iniciarSesion" class="login-link"><p>LogIn</p></a>
      <a href="/eventos" class="login-link"><p>Eventos</p></a>
      <a routerLink="/contactanos" class="login-link"><p>Contacto</p></a>
      <a href="https://www.tiktok.com/@underdog.wrld" class="icon"
        ><i class="fab fa-tiktok"></i
      ></a>
      <a href="https://www.instagram.com/underdog.wrld/" class="icon"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.youtube.com/@UnderdogWRLD" class="icon"
        ><i class="fab fa-youtube"></i
      ></a>
    </div>
  </div>
</nav>
