<body><div>
  <form (ngSubmit)="onSubmit()">
    <label for="email">Correo electrónico: </label>
    <input
      type="email"
      id="email"
      name="email"
      required
      placeholder="underdog@email.com"
      [(ngModel)]="email"
    />
    <br />
    <label for="password">Contraseña: </label>
    <input
      type="password"
      id="password"
      name="password"
      required
      placeholder="********"
      [(ngModel)]="password"
    />
    <br />
    <button type="submit">Iniciar sesión</button>
    <br />
    <p>
      ¿No eres un UNDERDOG?
      <a [routerLink]="['/registroUsuarios']">Regístrate aquí</a>
    </p>
  </form>
</div>
</body>
